


    <style>
    label {
        
        font-size: 16px;
      }

    h1{
      margin: 0 0 10px;
      font-size: 12px;
    }
    .b-c-textpane {
      bottom: 20px;
    }

label #labels.fade {
opacity:0;
}


      
        
        

    </style>

  <body class="o-page p-home" style="bac">
    <div id="page">
      <!-- Header -->
      <div id="header">
        <div class="header-content">
          <a href="/home" class="p-link-home"><img src="/img/icons/home-24.ico" width="16px" ></a>
          
          <a href="javascript:history.back();" class="p-link-back"><img src="/img/icons/arrow-24.ico" width="16px;"></a>
        </div>
      </div>
      <!-- Content -->
      <div id="content">
        
        <div class="fluid_container" style="background-image: url(http://georgianmaxim.com/wp-content/uploads/2013/11/Home.png) ">
          
          <div class="bannerContent fadeFromBottom">
                <div class="b-c-textpane">

                    <div id="signup"> 
                          {{#if edit}}
                            <h1 id="title" style="font-size: 36px;">Edit Squad</h1>
                          {{else}}
                            <h1 id="title"style="font-size: 36px;">Create Squad</h1>
                          {{/if}}
                            <div class="form">
                        {{#if edit}}
                          <form action="/squad/{{_id}}/edit" method="post">
                        {{else}}
                          <form action="/create" method="post">
                        {{/if}}
                          
                              

                              <div class="field-wrap">
                               
                                <label class="labels.fade" id="squad-name">Squad Name<span class="req">*</span></label>
                                <input value="{{name}}" name="name" style="color: white; font-size:18px;" type="text" required autocomplete="off" onkeyup="changeLabel_Squad()" />
                              </div>

                            <div class="field-wrap">
                              
                                <label class="" id="tags_label" >Tags: (ie: basketball, coding)<span class="req">*</span></label>
                              <input value="{{tags}}" name="tags" style="color: white; font-size:18px;" type="text"required autocomplete="off" onkeyup="changeLabel_Tag()"/>
                            </div>
                
                            <div class="field-wrap">
                        
                             
                                
                                  <input id="f02" type="file" style="color: white; font-size:14px;" placeholder="Add profile picture" />
                            
                          
                            </div>
                            
                        

                             <div class="field-wrap">
                              <label class="" id="description" >Description</label>
                        <textarea rows="8" cols="50" id="ContactMessage"  style="color: white; font-size:16px;" name="description" >{{description}}</textarea>
                            </div>

                        {{#if edit}}
                          <button type="submit" class="button button-block" style=" border: 0;
                                              outline: none;
                                              border-radius: 0;
                                              padding: 15px 0;
                                              font-size: 2rem;
                                              font-weight: 600;
                                              text-transform: uppercase;
                                            letter-spacing: .1em;
                                            background: #1ab188;
                                              color: #ffffff;
                                              -webkit-transition: all 0.5s ease;
                                                  transition: all 0.5s ease;
                                              -webkit-appearance: none;"/>Edit</button>
                        {{else}}
                          <button type="submit" class="button button-block" style=" border: 0;
                                              outline: none;
                                              border-radius: 0;
                                              padding: 15px 0;
                                              font-size: 2rem;
                                              font-weight: 600;
                                              text-transform: uppercase;
                                            letter-spacing: .1em;
                                            background: #1ab188;
                                              color: #ffffff;
                                              -webkit-transition: all 0.5s ease;
                                                  transition: all 0.5s ease;
                                              -webkit-appearance: none;"/>Done</button>
                        {{/if}}
                                          
                          </form>
                          </div><!-- form -->
                     </div>
                </div>
              </div>

        </div><!-- .fluid_container -->
        
       
      </div>
      
      
    </div>
    <script type='text/javascript' src='js/form.js'></script> 
      <script src="https://code.jquery.com/jquery.js"></script>
      <script>
          function changeLabel_Squad(){
            document.getElementById('squad-name').innerHTML = 'Squad';
        }

        function changeLabel_Tag(){
            document.getElementById('tags_label').innerHTML = 'Tags';
        }

        if (document.getElementById("title").innerHTML == "Edit Squad"){
                  document.getElementById("squad-name").style.opacity = "0";
                  document.getElementById("tags_label").style.opacity = "0";
                  document.getElementById("description").style.opacity = "0";
                  
        }
        
      </script>
  </body>
