<p class="home" ><a href="/" style="color: white;">Logout</a></p>
<p class="home" ><a href="/user/0" style="color: white;">Profile</a></p>
<p class="home" ><a href="/home" style="color: white;">Home</a></p>
  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>


<h1>All <strong>SQUADS</strong> relevant to your tags</h1>


<div id="pageContainer">
  <div id="backgroundBlur"></div>
  
  {{#each squads}}
  <a href="/squad/{{id}}" id="expand" class="pColor">

      <div id="userContainer" class="pColor">
        <div class="userImage"><img src="{{cover}}" /></div>
      
        <div class="userInfo">
          <h3>{{name}}</h3>
          <p>
            {{description}}
          </p>
          <p style="padding-top: 2px; float: right;">
            Tags: {{#each tags}} {{this}} {{/each}}
          </p>
        </div>
    </div>
  </a>
  {{/each}}  

</div>
