<p class="home" ><a href="/" style="color: white;">Logout</a></p>
<p class="home" ><a href="/user/{{_id}}" style="color: white;">Profile</a></p>
  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>



<h1>Currenty logged in: <strong>{{first_name}} {{last_name}}</strong></h1>
<div style="center;">
<div class="row_home">
  <div class="col left">
  <h1>Navigate:</h1>
    
  </div>
  <div class="col right">
  <a  href="/find" ><button class="btn find" data-provider="find"><i></i><span>Find a team</span></button></a>
   <a  href="/create" ><button class="btn create" data-provider="create"><i></i><span>Create a team</span></button></a>

  </div>
</div>

</div>

<div class="row_home">

<ul>
{{#each squads}}
	<li><a href="/squad/{{_id}}">{{name}}</a></li>
{{/each}}
</ul>

</div>


