recruit page
<ul>
{{#each users}}
	<li><a href="/user/{{_id}}">
		{{first_name}} {{last_name}}
		{{#each tags}}
			{{this}}
		{{/each}}
	</a></li>
{{/each}}
</ul>
<ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/squad/{{_id}}">t</a></li>
</ul>