




    <style>
    .blog-tags li + li {
       margin-left: .05rem; 
      }
      </style>


  <body class="o-page p-about" hola-ext-player="1">
    <div id="page" class="mm-page">
      <div id="header">
        <div class="header-content">
          <a href="index.html" class="p-link-home"><img src="http://www.iconsdb.com/icons/preview/white/home-xl.png" width="16px" ></a>
          
          <a href="javascript:history.back();" class="p-link-back"><img src="http://www.iconsdb.com/icons/preview/white/undo-4-xl.png" width="16px;"></a>
        </div>
      </div>
      <div class="bannerPane">
        <div class="overlay"></div>
        <div class="s-banner-content">
          <div><img width="100" src="/img/squad-crop.png"></div>
          Recruiting for {{squad_name}}
        </div>
      </div>
      <div id="content">
        
        <div class="o-team">
          

          
          {{#each users}}
          <div class="o-team-person">
            <div class="about-img">
              <img src="http://lorempixel.com/output/people-q-c-150-150-2.jpg" />
            </div>
            <div class="about-sDetails">
              <h3>{{first_name}} {{last_name}}</h3>
              <h4>I am a coder</h4>
              <div class="a-scl-icons">
                <div class="blog-tags" >
                  <ul  style="position: relative;">
                  <li><img src="/img/icons/tag-16.ico"></li>
                  {{#each tags}}
                  <li><a href="#">{{this}}</a></li>
                 
                  {{/each}}
                  </ul>
            </div>
            </div>
            <div class="about-openBtn">
              <img src="/img/icons/plus-24.ico">
            </div>
            <div class="o-person-content" style="overflow: hidden; display: none;">

          <div class="prod-single-content">
            <h3 class="title" style="font-size: 12px"><strong>Email</strong>: {{email}}</h3>
            <br/>
            <p>{{about}}</p>

            <br/>
            <div class="blog-tags" >
                  <ul  style="position: relative;">
                  <li><img src="/img/icons/tag-16.ico"></li>
                  <li><strong>Tags</strong>: </li>
                  {{#each tags}}
                  <li><a href="#">{{this}}</a></li>
                  {{/each}}               
                
                  </ul>
            </div>
            
            {{!-- <div class="blog-tags" >
                  <ul  style="position: relative;">
                  <li><img src="/img/icons/conference-16.ico"></li>
                  <li><strong>Squads</strong>: </li>
                  
                  <li><a href="#">Coders4Life</a></li>
                  <li><a href="#">Money Shooters</a></li>
                  </ul>
            </div> --}}
            <br/>
            <div class="p-single-meta-shares blog-tags" style="text-align: center; float: center;">
              {{!-- data-req='{"from": "{{../squad_id}}", "to": "{{_id}}"}' --}}
              <ul><li><a href="#" onclick="woopra.track('a_ver_recruit_member')">Recruit</a></li></ul>
            </div>
            <br/>
          </div>
            </div>
          </div>
          {{/each}}

          


        </div>
        <div id="o-person-details-pane">
          <div class="o-person-details">

          </div>
        </div>

      </div>
      
      <div class="subFooter">A Squad Company. <a href="/index" class="p-link-logout" style="font-size: 12px;"> &nbsp Logout</a></div>
      
      <!-- Menu navigation -->
      
      
    </div>
  
<div id="mm-blocker"></div></body>