<p class="home" ><a href="/help" style="color: white;">Help</a></p>
{{#if edit}}
  <p class="home" ><a href="/home" style="color: white;">Home</a></p>
{{/if}}
  <div class="landing-logo">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="300px"></div>


        <div id="signup"> 
        {{#if edit}}
          <h1>Edit Account: {{first_name}} {{last_name}}</h1>

          <form action="/user/{{_id}}/edit" method="post">
        {{else}}  
          <h1>Sign Up!</h1>

          <form action="/signup" method="post">
        {{/if}}
          <div class="top-row">
            <div class="field-wrap">
              {{#if edit}}
                <label class="active highlight">
              {{else}}
                <label>
              {{/if}}
                First Name<span class="req">*</span>
              </label>
              <input name="first_name" style="color: white;" type="text" required autocomplete="off" value="{{first_name}}"/>
            </div>

            <div class="field-wrap">
              {{#if edit}}
                <label class="active highlight">
              {{else}}
                <label>
              {{/if}}
                Last Name<span class="req">*</span>
              </label>
              <input name="last_name" style="color: white;" type="text"required autocomplete="off" value="{{last_name}}"/>
            </div>
          </div>

          <div class="field-wrap">
            {{#if edit}}
              <label class="active highlight">
            {{else}}
              <label>
            {{/if}}
              UCSD Email Address<span class="req">*</span>
            </label>
            <input name="email" style="color: white;" type="email"required autocomplete="off" value="{{email}}"/>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input name="password" style="color: white;" type="password" {{#unless edit}}required{{/unless}} autocomplete="off"/>
          </div>
           <div class="field-wrap">
            <label>
              Confirm Password<span class="req">*</span>
            </label>
            <input style="color: white;" type="password" {{#unless edit}}required{{/unless}} autocomplete="off"/>
          </div>
          <div class="field-wrap">
            {{#if edit}}
              <label class="active highlight">
            {{else}}
              <label>
            {{/if}}
              Tags: (ie: basketball, coding)<span class="req">*</span>
            </label>
            <input name="tags" style="color: white;" type="text"required autocomplete="off" value="{{tags}}"/>
          </div>

          {{#if edit}}
            <button type="submit" class="button button-block"/>Done</button>
          {{else}}
            <button type="submit" class="button button-block"/>Get Started</button>
            <p style="text-align:center;font-size:2em;color:#fff">Already have an account? <a style="color:#179B77" href='/login'>Login here.</a></p>
          {{/if}}
        </form>
      </div>


 