    <style>
    label {
        
        font-size: 16px;
      }

    h1{
      margin: 0 0 10px;
    }
    .b-c-textpane {
      bottom: 20px;
    }
    form{
      margin: 0 0 ;
    }
    input{
    padding: none;
    font-size:18px;
    }

    textarea {
    width: 100%;
    height: 4em;
    }

    @media (max-width: 400px) {
    .b-c-textpane {
        bottom: 5px;
      }

    textarea {
    width: 100%;
    height: 2em;
    
    }
    }

    </style>

<body class="o-page p-home" >
    <div id="page">
      <!-- Header -->
      <div id="header">
        <div class="header-content">
        {{#if edit}}
          <a href="/home" class="p-link-home"><img src="/img/icons/home-24.ico" width="16px" ></a>
        {{else}}
          <a href="/" class="p-link-home"><img src="/img/squad-crop.png" width="300px" ></a>
        {{/if}}
          <a href="/home" class="p-link-back"><img src="/img/icons/arrow-24.ico" width="16px;"></a>
        </div>
      </div>
      <!-- Content -->
      <div id="content">
        
        <div class="fluid_container" style="background-image: url(http://georgianmaxim.com/wp-content/uploads/2013/11/Home.png) ">
          
          <div class="bannerContent fadeFromBottom">
                <div class="b-c-textpane">


                    <div id="signup"> 
                          {{#if edit}}
                            <h1 id="title" >Edit Profile</h1>
                            
                          {{else}}
                            <h1 id="title" >Sign Up!</h1>
                          {{/if}}
                            <div class="form" style="margin: 0 0;">
                        {{#if edit}}
                          <form action="/user/{{_id}}/edit" method="post">
                        {{else}}
                          <form action="/signup" method="post">
                        {{/if}}
                          
                              

                              <div class="field-wrap">
                               
                                <label id="first">First Name<span class="req">*</span></label>
                                <input value="{{first_name}}" name="first_name" style="color: white;" type="text" required autocomplete="off" />
                              </div>

                              <div class="field-wrap">
                               
                                 <label id="last">Last Name<span class="req">*</span></label>
                               <input value="{{last_name}}" name="last_name" style="color: white;" type="text"required autocomplete="off" />
                             </div>
                            

                            {{#unless edit}}
                            <div class="field-wrap">
                             
                                <label id="email_address">UCSD Email Address<span class="req">*</span></label>
                              <input name="email" style="color: white;" type="email"required autocomplete="off" onkeyup="changeLabel_Email()"/>
                            </div>
                            {{/unless}}
                       

                            <div class="field-wrap">
                              <label id="pass"> Password<span class="req">*</span></label>
                              <input name="password" style="color: white;" type="password" {{#unless edit}}required{{/unless}} autocomplete="off"/>
                            </div>

                             <div class="field-wrap">
                              <label id="pwd" >Confirm Password<span class="req">*</span></label>
                              <input style="color: white;" type="password" {{#unless edit}}required{{/unless}} autocomplete="off" onkeyup="changeLabel_Pwd()"/>
                            </div>

                            <div class="field-wrap">
                          
                               
                               <label id="tags_label" >Tags: (ie: basketball, coding)<span class="req">*</span></label>
                                <textarea  id="Tags"  style="color: white; font-size:16px;"required autocomplete="off"  name="tags" onkeyup="changeLabel_Tag()">{{tags}}</textarea>
                              
                            </div>

                            <div class="field-wrap">
                                
                                <label id="about" >Tell us about yourself!<span class="req">*</span></label>
                                <textarea   style="color: white; font-size:16px;"required autocomplete="off"  name="about" onkeyup="changeLabel_About()">{{about}}</textarea>
                              
                            </div>
                            {{#if edit}}
                        <button type="submit" class="button button-block" style=" border: 0;
                                            outline: none;
                                            border-radius: 0;
                                            padding: 15px 0;
                                            font-size: 2rem;
                                            font-weight: 600;
                                            text-transform: uppercase;
                                          letter-spacing: .1em;
                                          background: #1ab188;
                                            color: #ffffff;
                                            -webkit-transition: all 0.5s ease;
                                                transition: all 0.5s ease;
                                            -webkit-appearance: none;" />Edit</button>
                            {{else}}
                        <button type="submit" class="button button-block" style=" border: 0;
                                            outline: none;
                                            border-radius: 0;
                                            padding: 15px 0;
                                            font-size: 2rem;
                                            font-weight: 600;
                                            text-transform: uppercase;
                                          letter-spacing: .1em;
                                          background: #1ab188;
                                            color: #ffffff;
                                            -webkit-transition: all 0.5s ease;
                                                transition: all 0.5s ease;
                                            -webkit-appearance: none;"/>Get Started</button>
                              <p style="text-align:center;font-size:16px;color:#fff; padding-top:10px;">Already have an account? <a style="color:#179B77" href='/login'>Login here.</a></p>
                              {{/if}}

         
                          </form>
                          </div><!-- form -->
                     </div>
                </div>
              </div>

        </div><!-- .fluid_container -->
        
        <!-- <a href="#" class="home-footer">
          About us
        </a> -->
      </div>


      
      
    </div>
    <script type='text/javascript' src='js/form.js'></script> 
      <script src="https://code.jquery.com/jquery.js"></script>
      <script>
          function changeLabel_Email(){
            document.getElementById('email_address').innerHTML = 'Email Add.';
        }
        function changeLabel_Pwd(){
            document.getElementById('pwd').innerHTML = 'Confirm';
        }
        function changeLabel_Tag(){
            document.getElementById('tags_label').innerHTML = 'Tags';


        }
        function changeLabel_About() {
          document.getElementById('about').innerHTML = 'About';
        }

         if (document.getElementById("title").innerHTML == "Edit Profile"){
                  document.getElementById("first").style.opacity = "0";
                  document.getElementById("last").style.opacity = "0";
                  document.getElementById("tags_label").style.opacity = "0";
        }
      
      </script>
  </body>