
 <div class="row_home">
 <div class="col left">
      <img  src="http://41.media.tumblr.com/ffeaf7c30f49a9c8f9ae13d6b9704cd0/tumblr_niz5aaFS9M1u9phyeo1_1280.png" alt="img" width="100px" style="margin-top: 0px">
 </div>

<p class="home" ><a href="/" style="color: white;">Logout</a></p>
<p class="home" ><a href="/user/0" style="color: white;">Profile</a></p>
<p class="home" ><a href="/home" style="color: white;">Home</a></p>
</div>





<div class="blog-container">
  
  <div class="blog-header">
    
    <div class="blog-cover" style="background: url('{{cover}}');">
      <div class="blog-author">
        <h3><a style="color: white;" href="/user/{{admin.id}}">{{admin.first_name}} {{admin.last_name}}</a></h3>
      </div>
    </div>
    
  </div>

  <div class="blog-body">
    <div class="blog-title">
      <h1><a href="#">{{name}}</a></h1>
    </div>
    <div class="blog-summary">
      <p>{{description}}</p>
    </div>
     <div class="blog-tags">
      <ul>
      {{#each members}}
      <li><a href="/user/{{id}}">{{first_name}} {{last_name}}</a></li>
		
		{{/each}}
      </ul>
    </div>
    <div class="blog-tags">
      <ul>
      {{#each tags}}
      <li><a href="#">{{this}}</a></li>
		
		{{/each}}
   
        
      </ul>
    </div>
  </div>
  
  <div class="blog-footer" >
    <ul>
      <li class="join" style="float: right;"><a href="/squad/{{id}}/join">Join Team</a></li>
      <li class="join"> <a href="/recruit">Recruit</a></li>
      
    </ul>
  </div>

</div>




<script type="text/javascript" src="//use.typekit.net/wtt0gtr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


{{!-- 
<h1>{{name}}</h1>


<h4>Feed</h4>
<div>
	{{#each feed}}
		<p>
			{{message}}<br>
			{{author.first_name}} {{author.last_name}} | {{timestamp}}
		</p>
	{{/each}}
</div>
<h6>Post to Feed</h6>
<input type="text">
<button>Post</button>
<ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/recruit">Recruit</a></li>
</ul>


--}}


