




  <body class="o-page">
    <div id="page">
      <div id="header">
        <div class="header-content">
          <a href="/home" class="p-link-home"><img src="/img/icons/home-24.ico" width="16px" ></a>
          
          <a href="javascript:history.back();" class="p-link-back"><img src="/img/icons/arrow-24.ico" width="16px;"></a>
        </div>
      </div>
      <div class="bannerPane" style="background: url('/img/gallery/code.jpg') no-repeat center center;">
        <div class="overlay"></div>
        <div class="s-banner-content" >
          <div><img  width="100" src="/img/squad-crop.png" /></div>
          <strong>{{name}}</strong>
        </div>
      </div>
      <div id="content">
        
        <article>
          
          <div class="a-meta a-meta-left" style="text-align:center;">
            <img src="/img/icons/user-16.ico"> <a href="/user/{{admin._id}}">{{admin.first_name}} {{admin.last_name}}</a> | <img src="/img/icons/calendar-16.ico"> 28 Feb 2015 | <img src="/img/icons/conference-16.ico"> 6
          </div>
          </br>
          <p>
            <span class="c-red">{{description}}</span>
            
          </p>
          <div class="blog-tags" >
                  <ul  style="position: relative;">
                  <li><img src="/img/icons/tag-16.ico"></li>
                  <li><strong>Tags</strong>: </li>
                  {{#each tags}}
                    <li><a href="#">{{this}}</a></li>
                  {{/each}}  
                  </ul>
            </div>
            
            <div class="blog-tags" >
                  <ul  style="position: relative;">
                  <li><img src="/img/icons/conference-16.ico"></li>
                  <li><strong>Users</strong>: </li>
                  {{#each members}}
                  <li><a href="/user/{{_id}}">{{first_name}} {{last_name}}</a></li>
      
                  {{/each}}
                  </ul>
            </div>

                  {{#if adminMode}}
                  <br/>
                    <a href="/squad/{{_id}}/recruit" onclick="woopra.track('a_ver_recruit')">
                    <input type="submit"  class="btn-normal" value="Recruit">
                  </a>
                  <br/>
                    <a href="/squad/{{_id}}/edit">
                    <input type="submit"  class="btn-normal" value="Edit">
                  </a>

                  {{else}}

                 {{#if member}}
                    <br/>
                    <a href="/squad/{{_id}}/leave">
                    <input type="submit"  class="btn-normal" value="Leave Team">
                  </a>

                  {{else}}
                  <br/>
                  <a href="/squad/{{_id}}/join">
                    <input type="submit"  class="btn-normal" value="Join Squad">
                  </a>
                    
                  {{/if}}
                {{/if}}
          
          {{#if member}}
          <div class="article-comments">
            <h3 class="title"><img src="/img/icons/comments-16.ico"> Posts</h3>
            <ul>
            {{#each feed}}
            <li>
                <img src="http://lorempixel.com/output/people-q-c-150-150-1.jpg" />
                <p class="c-a-name"><strong>{{author.first_name}} {{author.last_name}}</strong></p>
                <p class="comment-date">{{format_date timestamp}}</p>
                <p class="desc">
                  {{message}}
                </p>
              </li>
           {{/each}}

              <li>
              
                <form id="contact" action="/squad/{{_id}}/post" class="contactForm" method="post">
                  
                  
                  <label>Message</label>
                  <textarea id="ContactMessage" name="message" placeholder="Message"></textarea>
                  
                  <input type="submit"  class="btn-normal" id="SubmitContact" value="Comment">
                  
                  <div id="msg" class="notifications" style="display:none"></div>
                </form>
              </li>
            </ul>
          </div>
          {{/if}}
        </article>

      </div>
     <div class="subFooter">A Squad Company. <a href="/index" class="p-link-logout" style="font-size: 12px;"> &nbsp Logout</a></div>
      
      
      
    </div>
  </body>


