squad page
<h1>{{name}}</h1>
<h4>About</h4>
<p>{{description}}</p>
<h4>Tags</h4>
<p>
	{{#each tags}}
		{{this}}
	{{/each}}
</p>
<h4>Squad Leader</h4>
<p>
	<a href="/user/{{id}}">{{admin.first_name}} {{admin.last_name}}</a>
</p>
<h4>Squad Members</h4>
<div>
	{{#each members}}
		<p>
			<a href="/user/{{id}}">{{first_name}} {{last_name}}</a>
		</p>
	{{/each}}
</div>
<button>Join Squad</button>
<h4>Feed</h4>
<div>
	{{#each feed}}
		<p>
			{{message}}<br>
			{{author.first_name}} {{author.last_name}} | {{timestamp}}
		</p>
	{{/each}}
</div>
<h6>Post to Feed</h6>
<input type="text">
<button>Post</button>
<ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/recruit">Recruit</a></li>
</ul>